<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
        integrity="sha384-Qt9Hug5NfnQDGMoaQYXN1+PiQvda7poO07Jj5gtLd8JkGZG5h6q3HJk2wLjyBb1k" crossorigin="anonymous">
    {% block extra_css %}{% endblock %}
</head>

<body>

    {% block navbar %}
    <!-- Navigation bar goes here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- Add more navbar items here -->
            </ul>
        </div>
    </nav>
    {% endblock %}

    <div class="container">
        {% block content %}
        <!-- Main content goes here -->
        {% endblock %}
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery CDN links -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1TB5jqWb4Lrq9HqaWw8StlD0b5V1w5l3zRHA3n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gybB3C4s27F/4kFQ9eC5o2lXZ1puhoj1QVbZ5Pf/FQdAGCr0vK" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"
        integrity="sha384-QmzsM/6jW9gP5a24oO3BvJN1B7L6JUw+O3T8e9NvWkLdz8PF9HQVHKRq7GjtxBvR" crossorigin="anonymous"></script>
    {% block extra_js %}{% endblock %}

</body>

</html>